Bin/
Brofiler/obj/
BrofilerApp/obj/
BrofilerApp/.vs/
Build/
*.suo
*.user
Publish/
*.rej
*.orig
.DS_Store
/Samples/UnrealEnginePlugin/Binaries
/.vs
/Brofiler/.vs/Brofiler_vs2017/v15/Server/sqlite3
/Brofiler/.vs
/Brofiler/BrofilerCore/vulkan
/BrofilerCore/vulkan/GLSL.std.450.h
/BrofilerCore/vulkan/spirv.h
/BrofilerCore/vulkan
