Bin/
Optick/.vs/
Optick/obj/
OptickApp/obj/
OptickApp/packages/
OptickApp/.vs/
gui/obj/
gui/packages/
gui/InteractiveDataDisplay.WPF/obj/
gui/*/obj/
gui/.vs/
[Bb]uild*/
Tools/Publish/
*.suo
*.user
Publish/
*.rej
*.orig
.DS_Store
/Samples/UnrealEnginePlugin/Binaries
/.vs
/samples/UnrealEnginePlugin/GUI/Optick.exe
samples/UnrealEnginePlugin/Source/ThirdParty/Optick/src
*.bak
