Bin/
Optick/.vs/
Optick/obj/
OptickApp/obj/
OptickApp/packages/
OptickApp/.vs/
gui/obj/
gui/packages/
gui/InteractiveDataDisplay.WPF/obj/
gui/.vs/
Build/
Tools/Publish/
*.suo
*.user
Publish/
*.rej
*.orig
.DS_Store
/Samples/UnrealEnginePlugin/Binaries
/.vs
