<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="4.8.1" targetFramework="net461" />
  <package id="ControlzEx" version="3.0.2.4" targetFramework="net461" requireReinstallation="true" />
  <package id="Costura.Fody" version="3.3.3" targetFramework="net461" />
  <package id="Dirkster.AvalonDock" version="3.5.0.2" targetFramework="net461" />
  <package id="Dirkster.AvalonDock.Themes.VS2013" version="3.5.0.2" targetFramework="net461" />
  <package id="Fody" version="4.0.2" targetFramework="net461" developmentDependency="true" />
  <package id="Google.Apis" version="1.37.0" targetFramework="net461" />
  <package id="Google.Apis.Auth" version="1.37.0" targetFramework="net461" />
  <package id="Google.Apis.Core" version="1.37.0" targetFramework="net461" />
  <package id="Google.Apis.Drive.v3" version="1.37.0.1470" targetFramework="net461" />
  <package id="LiveCharts" version="0.9.7" targetFramework="net461" />
  <package id="LiveCharts.Wpf" version="0.9.7" targetFramework="net461" />
  <package id="MahApps.Metro" version="1.6.5" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="10.0.2" targetFramework="net461" />
  <package id="Sentry" version="1.2.0" targetFramework="net461" />
  <package id="Sentry.PlatformAbstractions" version="1.0.0" targetFramework="net461" />
  <package id="Sentry.Protocol" version="1.0.6" targetFramework="net461" />
  <package id="System.Collections.Immutable" version="1.5.0" targetFramework="net461" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.3.0" targetFramework="net461" />
</packages>