<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="Profiler.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/></startup><userSettings>
        <Profiler.Properties.Settings>
            <setting name="DefaultIP" serializeAs="String">
                <value>0.0.0.0</value>
            </setting>
            <setting name="DefaultPort" serializeAs="String">
                <value>31313</value>
            </setting>
            <setting name="TargetFrameTime" serializeAs="String">
                <value>33.3</value>
            </setting>
        </Profiler.Properties.Settings>
    </userSettings>
</configuration>
